/*seletor:pseudo-classe{
    propriedade: valor;
} */
 
p:first-child{
    color: aquamarine;
}

p:last-child{
    color: blueviolet;
}

p:not(:last-child, :first-child){
    color: blue;
}

p:nth-child(odd){
    background-color: black;
}

li:nth-child(n+2):nth-child(-n+5){
    color: red;
}

li:nth-last-child(2){
    background-color: blue;
}

p:only-child{
    background-color: orange;
}